.wrapper {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.wrapper:before, .container {
    display: inline-block;
    vertical-align: middle;
}
.wrapper:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.25em;
}
.container{
    border-radius: 5px;
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    width: 90%;
    text-align: center;
}
.container img{
    margin: 0 auto;
}