.wrapper {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.wrapper:before, .container {
    display: inline-block;
    vertical-align: middle;
}
.wrapper:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.25em;
}
.container{
    margin: 0 auto;
    border-radius: 5px;
    color: #222;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 25%; left: 0;
    margin-top: 85px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.btn-container{
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    top: 19.5%; left: 0;
    position: absolute;
}
.container img{
    margin: 0 auto;
}
.circular.segment{
  width: 175px;
  height: 175px;
}
.ui.header:first-child{
  margin-top: 1.5em;
}
.ui.header{
  margin: auto;
}
.ui.inverted.segment{
  cursor: pointer;
}
.circular-btn:hover{
  transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.column:nth-child(even) > .circular-btn{
  float: left;
}
.column:nth-child(odd) > .circular-btn{
  float:right;
}

#noblesteps-btn{
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('/imgs/noblesteps.png');
  background-size: 150%;
  background-position: center top;
}

#wastelands-btn{
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('/imgs/wastelands.png');
  background-size: 100%;
  background-position: center 30%;
}

#liveabetes-btn{
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('/imgs/liveabetes.png');
  background-size: 100%;
  background-position: center;
}

#weltgeist-btn{
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('/imgs/weltgeist.png');
  background-size: 100%;
  background-position: bottom;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

@-webkit-keyframes boxAround {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(-100px, -100px, 0);
            transform: translate3d(-100px, -100px, 0);
  }

  50% {
    -webkit-transform: translate3d(100px, -100px, 0);
            transform: translate3d(100px, -100px, 0);
  }

  75%{
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }

  100%{
    -webkit-transform: translate3d(-100px, 100px, 0);
            transform: translate3d(-100px, 100px, 0);
  }
}

@keyframes boxAround {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3d(-100px, -100px, 0);
            transform: translate3d(-100px, -100px, 0);
  }

  50% {
    -webkit-transform: translate3d(100px, -100px, 0);
            transform: translate3d(100px, -100px, 0);
  }

  75%{
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
  }

  100%{
    -webkit-transform: translate3d(-100px, 100px, 0);
            transform: translate3d(-100px, 100px, 0);
  }
}

.boxAround {
  -webkit-animation-name: boxAround;
  animation-name: boxAround;
}

.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.slow-animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}